{% load static %}
<html>
    <head>
        <title>WebCV</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        
    </head>
    <body>
        <div class="page-header">
            
            {% block header %}
            {% endblock %}
            <div class="page-header-menu">
                <h1><a class="menu-element" href="{% url 'cv_page' %}" id="id_cv_link_button">CV</a></h1>
                <h1><a class="menu-element" href="/">Blog</a></h1>
            </div>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8" id="id_post_list_table">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>