{% extends 'blog/base_cv.html' %}

<!-- {% block title %}help{% endblock %} -->

{% block content %}
{% if user.is_authenticated %}
<a class="btn btn-default" id="id_edit_cv_button" href="{% url 'cv_edit' %}"><span class="glyphicon glyphicon-pencil"></span></a>
{% endif %}
<div id="id_cv_form">
	<div>
		<div id="headshot">
			<img src="headshot.jpg" alt="image" />
		</div>
		
		<div id="id_name">
			<h1>{{ cv.name }}</h1>
		</div>
		
		<div id="id_contacts">
			<ul>
				<li >email: <a id="id_email">{{ cv.email }}</a></li>
				<li >m: <a id="id_phone">{{ cv.phone }}</a></li>
			</ul>
		</div>
	</div>
	
	<div >
		<section>
			<article>
				<div>
					<h1>Personal Profile</h1>
				</div>
				
				<div id="id_personal_statement">
					<p>{{ cv.personal_statement }}</p>
				</div>
			</article>
		</section>
	</div>


	<div>	
		<section>
			<div >
				<h1><a  >Work Experience</a></h1>
			</div>
			
			<div id="id_work_list_table">
				<article>
				{% for work in works %}
					
					<div id="id_work">
						{% if user.is_authenticated %}
								<a id="work_edit_button" class="btn btn-default" href="{% url 'work_edit' pk=work.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
						{% endif %}
						<h2 id="id_company">{{ work.company }}</h2>
						<h3 id="id_job_title">{{ work.job_title }}</h3>
						{% comment %} <p>April 2011 - Present</p> {% endcomment %}
						<p id="id_description">{{ work.description }}</p>

						<div class="date">
							<div>Start: <p id="id_start">{{ work.start }}</p></div>
							<div>Finish: <p id="id_finish">{{ work.finish }}</p></div>
						</div>
					</div>
				{% endfor %}
					
				</article>
			</div>
		</section>
	</div>	
	
	<section>
		<div>
			<h1>Key Skills</h1>
		</div>
		
		<div>
			<ul id="id_skills">
				<li>{{ cv.skills }}</li>
			</ul>
		</div>
	</section>
	
	
	<section>
		<div>
			<h1>Education</h1>
		</div>
		
		<div id="id_education_list_table">
			{% for education in educations %}
					
					<div id="id_education">
						{% if user.is_authenticated %}
								<a id="education_edit_button" class="btn btn-default" href="{% url 'education_edit' pk=education.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
						{% endif %}
						<h2 id="id_school">{{ education.school }}</h2>
						{% comment %} <p>April 2011 - Present</p> {% endcomment %}
						<p id="id_grade">{{ education.grade }}</p>

						<div class="date">
							<div>Start: <p id="id_start">{{ education.start }}</p></div>
							<div>Finish: <p id="id_finish">{{ education.finish }}</p></div>
						</div>
					</div>
				{% endfor %}
		</div>
	</section>
		
</div>
{% endblock %}